footer
{
    background: #999999;
    justify-content: center;
}

.contactanos
{
    color: white;
    background-color: black;
    text-align: center;
    font-size: 20px;
}

.redesociales
{
    width: 100%;
    display: flex;
    font-size: 40px;
    justify-content: center;
}

#redes
{
    width: 4%;
    height: 25%;
    margin: 40px;
    color: #333333;
    text-decoration: none;
    display: flex;
    justify-content: center;
}