/* Elementos generales */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

html, body {
  width: 100%;
  height: 100%;
}

.fondo-pantalla {
  background-image: url(https://imgur.com/SWgjotA.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* Inicio de header */

.contenedor-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  width: inherit;
  height: 7rem;
  background-color: rgba(68, 68, 68, 0.25);
}

.logo-container, .img-logo {
  margin-left: 1%;
  width: 4.5rem;
  height: 4.5rem;
}

.nav-conteiner, .lista-nav, .elementos-nav {
  list-style: none;
}

.nav-conteiner {
  position: relative;
  font-size: 2rem;
  margin-right: 2%;
}

.lista-nav {
  display: flex;
}

.elementos-nav {
  margin: 0 2vw;
}

.elementos-nav a {
  color: white
}

/* Inicio de main */

.contenedor-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.conteiner-section-main {
  margin-right: 5%;
}

.title-main {
  position: relative;
  color: white;
}

.title-main h1 {
  font-size: 3rem;
}

.title-main p {
  font-size: 2rem;
}

/* Inicio de aside */

.contenedor-aside {
  display: flex;
  position: relative;
  min-width: 15rem;
  max-height: 80%;
  width: 17%;
  height: 78%;
  background-color: rgba(0, 0, 0, 0.6);
  flex-direction: column;
  align-items: center;
}

.img-container-diplomas {
  display: flex;
  justify-content: center;
  margin: 9% 0;
  position: relative;
  width: 80%;
  height: 20%;
}

.img-diplomas {
  border-radius: 1rem;
  width: inherit;
  height: inherit;
}

/* Inicio de fooder */

.contenedor-fooder {
  position: relative;
  width: inherit;
  height: 10.5vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-media {
  margin: 0 1.5vw;
  width: 4.5rem;
  height: 4.5rem;
}
