/* Inicio de main */

.contenedor-main {
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}

/* Inicio de aside */

.contenedor-aside {
  width: 28%;
  height: 100vh;
  overflow-y: scroll;
  position: sticky;
  top: 0;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.contenedor-aside::-webkit-scrollbar{
  display: none;
}

.img-container-diplomas {
  width: 26rem;
  height: 18rem;
}

.img-diplomas {
  width: 85%;
  height: auto;
}

/* Inicio de seccion 1 */

.conteiner-section-title {
  margin-left: 4%;
  width: 40%;
  padding: 10rem;
  align-items: normal;
}

.title-main {
  color: black;
  flex-direction: row;
  justify-content: normal;
}

/* Inicio de seccion 2 */

.container-section-main-secundary {
  height: auto;
  width: 44%;
}

.container-section-cv {
  height: auto;
}