.contenedor-header {
  height: 6rem;
}

/* Inicio de main */

.contenedor-main {
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}

/* Inicio de aside */

.contenedor-aside {
  width: 28%;
  height: 79vh;
  overflow-y: scroll;
  position: sticky;
  top: 0;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.contenedor-aside::-webkit-scrollbar{
  display: none;
}

.img-container-diplomas {
  margin: 10% 0% 0% 0%;
  width: 27rem;
  height: 16rem;
}

.img-diplomas {
  width: 85%;
  height: auto;
}

.e-commerce, .curriculum{
  margin-top: 8%;
}

/* Inicio de seccion 1 */
 
.conteiner-section-title {
  width: 40%;
  height: 78%;
  padding: 0;
  padding-top: 10rem;
  padding-left: 5rem;
  justify-content: center;
  align-items: center;
}

.title-main {
  color: black;
  flex-direction: row;
  justify-content: normal;
}

/* Inicio de seccion 2 */

.container-section-main-secundary {
  height: 79vh;
  width: 44%;
}

.container-section-cv {
  height: auto;
}

/* Fooder */

.social-media {
  margin: 0 3.5vw;
}