  /* Elementos generales */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html {
    font-size: 62.5%;
    border: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  .fondo-pantalla {
    background-image: url(https://imgur.com/SWgjotA.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  
  
  /* Inicio de header */
  
  .contenedor-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: inherit;
    height: 6rem;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .logo-container, .img-logo {
    margin-left: 1%;
    width: 4.5rem;
    height: 4.5rem;
  }
  
  .logo-container {
    background-color: rgb(255, 255, 255, 0.9);
  }
  
  .nav-conteiner, .lista-nav, .elementos-nav {
    list-style: none;
  }
  
  .nav-conteiner {
    position: relative;
    font-size: 1.6rem;
    margin-right: 0.2rem;
  }
  
  .lista-nav {
    display: flex;
  }
  
  .elementos-nav {
    margin: 0 1rem;
  }
  
  .elementos-nav a {
    color: white
  }

  .elementos-nav a:hover {
    font-weight: bold;
  }
  
  /* Inicio de main */
  
  .contenedor-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  
  /* Inicio de aside */
  
  .contenedor-aside {
    display: flex;
    position: relative;
    min-width: 20rem;
    width: 100%;
    height: 27rem;
    background-color: rgba(0, 0, 0, 0.6);
    align-items: center;
    overflow-x: auto;
  }

  .contenedor-aside::-webkit-scrollbar{
    display: none;
  }
  
  .img-container-diplomas {
    display: flex;
    justify-content: center;
    margin: 7% 10% 7% 8.5%;
    position: relative;
    width: 28rem;
    object-fit: cover;
  }
  
  .img-diplomas {
    border-radius: 1rem;
    width: inherit;
    height: inherit;
  }
  
  /* Contendor de secciones */
  
  .container-title-information {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
  }
  
  /* Inicio de seccion 1 */
  
  .conteiner-section-title {
    padding: 10% 18%;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
  }
  
  .title-main {
    position: relative;
    color: rgb(255 255 255);
    flex-direction: row-reverse;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .title-main h1 {
    font-size: 3.3rem;
  }
  
  .title-main p {
    font-size: 2rem;
  }

  .e-commerce, .curriculum{
    margin-top: 28%;
  }

  .e-commerce button {
    cursor: pointer;
    padding: 2rem;
    font-weight: bold;
    border: 0.2rem solid white;
    font-size: 3rem;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.32);
  }
  
  .e-commerce button:hover {
    background-color: rgba(0, 0, 0, 0.027);
  }


  .curriculum button{
    cursor: pointer;
    padding: 2rem;
    font-weight: bold;
    border: 0.2rem solid white;
    font-size: 3rem;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.32);
  }

  .curriculum button:hover {
    background-color: rgba(0, 0, 0, 0.027);
  }

  /* Inicio de seccion 2 */
  
  .container-section-main-secundary {
    display: flex;
    margin-top: 6%;
    width: 100%;
    height: 80vh;
    background-color: rgba(255, 255, 255, 0.4);
    align-items: center;
    overflow-x: auto;
    flex-direction: column;
  }

  .container-section-main-secundary::-webkit-scrollbar{
    display: none;
  }
  
  /* Contenedor de perfil profecional */
  
  .container-section-cv {
    border-radius: 2rem;
    background-color: rgb(255, 255, 255, 0.8);
    padding: 2rem;
    height: auto;
    width: 94%;
    margin: 1.5rem 1rem;
  }
  
  .container-section-cv h1{
    border-bottom: 0.3rem solid black;
    padding-bottom: 1.5rem;
    font-size: 3rem;
  }
  
  .container-section-cv p{
    margin-top: 7%;
    font-size: 1.8rem;
    white-space: normal
  }
  
  /* Inicio de fooder */
  
  .contenedor-fooder {
    position: relative;
    width: inherit;
    height: 6rem;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .social-media {
    margin: 0 1.5vw;
    width: 4.5rem;
    height: 4.5rem;
  }