.contenedor-aside {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: normal;
    justify-content: space-evenly;
}

.img-container-diplomas {
    margin: 8% 0;
    width: 45%;
    height: 100%;
}

.img-diplomas {
    width: 80%;
    height: 50%;
}

.container-section-main-secundary {
    padding: 0.5rem;
}

.container-title-information {
    justify-content: space-between;
    flex-wrap: nowrap;
}

.conteiner-section-title {
    width: 50%;
    padding: 0% 8%;
    padding-top: 20%;
}