.contenedor-header {
    height: 5rem;
}

/* Imagenes */

.contenedor-aside {
    height: 18rem;
  }

.img-container-diplomas {
    margin: 0% 4%;
    width: 17rem;
    height: 12rem;
  }

/* secciones */

.container-section-main-secundary {
    padding: 0.5rem;
    margin-top: 0%;
    height: 105rem;
}

.container-title-information {
    justify-content: space-between;
    flex-wrap: nowrap;
}

.conteiner-section-title {
    width: 50%;
    padding: 4% 8%;
    height: auto;
}

/* Botones */

.e-commerce button, .curriculum button{
    font-size: 2rem;
    padding: 1rem;
    width: 20rem;
    height: 8rem;
  }

  .e-commerce, .curriculum{
    margin-top: 20%;
  }